* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  margin: 0.3rem;
  visibility: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  margin: 0;
  font-size: 1.2rem;
  vertical-align: baseline;
  line-height: 1.5em;
}

h2 {
  margin: 0;
  font-size: 1.2rem;
  line-height: 2;
}

h4 {
  font-size: medium;
}

.seccion-productos__catalogo-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel-item {
  background-color: #86a8d9;
}
.carousel-item .title-suceso {
  width: 100%;
  display: block;
  text-align: center;
  border: 1px solid black;
  border-bottom: none;
  margin: 0;
  padding: 0.5em;
}
.carousel-item .desc-suceso {
  width: 100%;
  display: block;
  border: 1px solid black;
  border-top: none;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  font-family: serif;
  text-align: justify;
  padding: 0.5em;
}

.header {
  width: 100%;
  background-color: #0576c7;
  display: grid;
  grid-template-columns: 100px 1fr repeat(2, 20px);
  grid-template-rows: repeat(2, 40px);
  grid-template-areas: "logo social social social" "logo  menu btn btn";
  padding: 0.5em;
  gap: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header__logo-empresa {
  grid-area: logo;
  width: 70%;
  align-self: center;
  justify-self: center;
}

.header__social-menu {
  grid-area: social;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2px;
}
.header__social-menu .social-item {
  width: 100%;
}
.header__social-menu .social-item__icon {
  width: 20px;
}

.header__menu-principal {
  grid-area: menu;
  visibility: hidden;
}

.dropdown {
  grid-area: btn;
}
.dropdown .btn {
  background-color: #025591;
}
.dropdown .btn img {
  width: 25px;
  height: 20px;
}
.dropdown-no-caret::after {
  display: none;
}
.dropdown-menu {
  background-color: rgba(11, 12, 12, 0.4431372549);
  justify-self: end;
}
.dropdown-menu li a {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 2;
  border: 1px solid white;
}

main {
  width: 100%;
  margin-top: 100px;
}

.footer {
  background-color: #0576c7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
  font-size: 0.7rem;
  text-align: center;
  background-color: #0576c7;
  color: white;
}
.footer a {
  display: inline;
  font-style: italic;
  text-decoration: underline;
  background-color: #0576c7;
  color: white;
}

.seccion-principal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.seccion-principal__title {
  visibility: hidden;
}
.seccion-principal__portada {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #86a8d9;
  color: black;
}
.seccion-principal__portada img {
  width: 100%;
}
.seccion-principal__portada-desc {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  font-family: serif;
  width: 100%;
  height: 25vh;
  padding: 1em;
}
.seccion-principal__article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(236, 240, 23);
  color: black;
  padding: 1em;
}
.seccion-principal__article-title {
  margin-top: 0.5em;
}
.seccion-principal__article-text {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  font-family: serif;
  text-align: justify;
}
.seccion-principal__article-boton {
  background-color: #025591;
  color: white;
  padding: 8px;
  border-radius: 30px 0 30px 30px;
  margin-bottom: 5px;
  border: solid 2px white;
}
.seccion-principal__contacto {
  height: 200px;
  background-image: url(../../../images/fondos/banner-contacto.png);
  background-size: cover;
  color: white;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  padding: 1em;
}
.seccion-principal__contacto-boton {
  align-self: center;
  background-color: #025591;
  color: white;
  padding: 8px;
  border-radius: 30px 0 30px 30px;
  margin-bottom: 5px;
  border: solid 2px white;
  margin-top: 10px;
}

.seccion-nosotros {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.seccion-nosotros__title {
  margin-top: 15px;
}
.seccion-nosotros__subtitles {
  align-self: start;
  padding-left: 1em;
  text-decoration: underline;
  font-style: italic;
}
.seccion-nosotros .vision-historia {
  width: 100%;
}
.seccion-nosotros__card img {
  width: 100%;
}
.seccion-nosotros__card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  background-color: rgba(160, 38, 38, 0.527);
}
.seccion-nosotros__card-text {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  font-family: serif;
  text-align: justify;
}
.seccion-nosotros__card-btn {
  background-color: #025591;
  color: white;
  padding: 8px;
  border-radius: 30px 0 30px 30px;
  margin-bottom: 5px;
  border: solid 2px white;
  outline: none;
}

.seccion-productos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.seccion-productos__title {
  margin-top: 15px;
}
.seccion-productos__banner-portada {
  background-image: url(../../../images/fondos/fondo-banner.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-color: black;
  color: white;
}
.seccion-productos__banner-portada-title {
  font-size: 1rem;
}
.seccion-productos__banner-portada-subtitle {
  font-size: 1.5rem;
  color: gold;
  text-decoration: underline;
}
.seccion-productos__contenedor-marcas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.seccion-productos__contenedor-marcas .btn {
  border: 1px solid #025591;
}
.seccion-productos__catalogo {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: auto;
}
.seccion-productos__catalogo-producto-asado-ventana {
  width: 100px;
  height: 100px;
  background-image: url(../../images/ciclo-dos/cortes/asado-ventana.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 100px;
}
.seccion-productos__catalogo-producto-bife-ancho {
  width: 100px;
  height: 100px;
  background-image: url(../../images/ciclo-dos/cortes/bife-ancho.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 100px;
}
.seccion-productos__catalogo-producto-carnaza-marucha {
  width: 100px;
  height: 100px;
  background-image: url(../../images/ciclo-dos/cortes/carnaza-marucha.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 100px;
}
.seccion-productos__catalogo-producto-chingolo {
  width: 100px;
  height: 100px;
  background-image: url(../../images/ciclo-dos/cortes/chingolo.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 100px;
}
.seccion-productos__catalogo-producto-cogote {
  width: 100px;
  height: 100px;
  background-image: url(../../images/ciclo-dos/cortes/cogote.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 100px;
}
.seccion-productos__catalogo-producto-corazon-cuadril {
  width: 100px;
  height: 100px;
  background-image: url(../../images/ciclo-dos/cortes/corazon-cuadril.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 100px;
}

/*# sourceMappingURL=styles.css.map */
