.footer{
    background-color: $primary-color;
    @include flex-box(center,center,column);
    padding: 10px;
    gap: 15px;
    font-size: .7rem;
    text-align: center;
    z-index: 999;
    bottom: 0;
    

    @include contraste($primary-color);


    a{display: inline;
        font-style: italic;
        text-decoration: underline;
        @include contraste($primary-color);

    }

    @include tablet-resolution(){
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
        ". . "
        "derechos defensa"
        ". desarrollo";
        font-size: .8rem;
        
        &__defensa{
            grid-area: defensa;
        }
        &__derecho{
            grid-area: derechos;
        }
        &__desarrollo{
            grid-area: desarrollo;
            justify-self: end;
            margin-right: 2em;
        }
    }
    @include desktop-resolution(){
        font-size: 1rem;
        font-weight: bold;

    }
    
}