.header__social-menu {
    grid-area: social;
    border: 1px solid black;
    @include flex-box(center,center,row);
    gap: 2px;

    .social-item{
        width: 100%;

        &__icon{
            width: 20px;
        }
    }

}