*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
//Declaro variables
$primary-color:#0576c7;
$secondary-color: #86a8d9;
$complement-color:#2CA1DB;
$btn-color: #025591;
//Declaro mixins
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;   
}
@mixin estilo-parrafo {
    text-align: center;
    font-size:medium;
    font-style: italic;
    font-weight:600;
    font-family: serif;
}
//Declaro propiedades de etiquetas generales
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;    
}
hr{
    margin:.5rem;
}

body{
    font-family: 'Montserrat',sans-serif;
    color: black
}
a{
    @include flex-center; 
    text-decoration: none;    
 }
h1{
    font-weight: 700;
    margin: 0;
    font-size: 1.8rem;
    line-height: 1;
    text-decoration: underline;
}
h2{
   margin: 0;
   font-size: 1.2rem;
   line-height: 2;

}
