*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
//Declaro variables
$primary-color:#0576c7;
$secondary-color: #86a8d9;
$complement-color:#2CA1DB;
$tertiary-color: rgb(236, 240, 23) ;
$btn-color: #025591;

//Declaro mixins
@mixin flex-box ($justify:center,$align:center,$direction:column) {
    display: flex;
    align-items: $align;
    justify-content: $justify; 
    flex-direction: $direction;  
}
@mixin estilo-parrafo($background){
    text-align: center;
    font-size:1rem;
    font-style: italic;
    font-weight:600;
    font-family: serif;
    background-color: $background;
    @if lightness($background)>50{
        color: black;
    } @else {color: white;}

}
//Declaro propiedades de etiquetas generales
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;    
}
hr{
    margin:.3rem;
    visibility: hidden;
}

body{
    font-family: 'Montserrat',sans-serif;
    color: black
}
a{
    @include flex-box(center,center,row);
    text-decoration: none;    
 }
h1{
    font-weight: 700;
    margin: 0;
    font-size: 1.8rem;
    line-height: 1;
    text-decoration: underline;
}
h2{
   margin: 0;
   font-size: 1.2rem;
   line-height: 2;

}
